@model Janus.Mediator.WebApp.ViewModels.MediatorInfoViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Janus mediator</h1>
    <img src="~/Content/Images/janus_logo.png" class="img-fluid" style="max-width:200px"/>
    
    <div class="row">
        <div class="col-6 offset-3">
            <h5>Mediator instance information:</h5>
            <table class="table table-bordered text-start">
                <tr><td><b>@Html.DisplayNameFor(model => model.NodeId)</b></td><td>@Model.NodeId</td></tr>
                <tr><td><b>@Html.DisplayNameFor(model => model.ListenPort)</b></td><td>@Model.ListenPort</td></tr>
                <tr><td><b>@Html.DisplayNameFor(model => model.CommunicationFormat)</b></td><td>@Model.CommunicationFormat</td></tr>
                <tr><td><b>@Html.DisplayNameFor(model => model.NetworkAdapterType)</b></td><td>@Model.NetworkAdapterType</td></tr>
                <tr><td><b>@Html.DisplayNameFor(model => model.TimeoutMs)</b></td><td>@Model.TimeoutMs</td></tr>
                <tr><td><b>@Html.DisplayNameFor(model => model.PersistenceConnectionString)</b></td><td>@Model.PersistenceConnectionString</td></tr>
                <tr><td><b>@Html.DisplayNameFor(model => model.WebPort)</b></td><td>@Model.WebPort</td></tr>
                <tr><td><b>@Html.DisplayNameFor(model => model.EagerStartup)</b></td><td>@Model.EagerStartup</td></tr>
            </table>
        </div>
    </div>
</div>
