@model QueryingViewModel

@{
    ViewData["Title"] = "Querying on an inferred schema";
}

<h2>Querying</h2>
<hr />
<partial name="OperationOutcomePartial" model="Model.OperationOutcome" />
<div class="mt-2 mb-2">
    <div class="row">
        <div class="col-7">
            <h4>Query text</h4>
            <form asp-controller="Querying" asp-action="RunQuery" method="post">
                <textarea name="queryText" class="form-control code" type="text" style="min-height:50vh">@Model.QueryText</textarea>
                <input type="submit" class="btn btn-primary mt-2" value="Run query!" />
            </form>

        </div>
        <div class="col-5">
            <h4>Current inferred schema</h4>
            <pre id="schema-json" class="overflow-scroll form-control" style="min-height:50vh; height:50vh; resize:vertical">@Model.InferredDataSourceJson</pre>
        </div>
    </div>

    @if (Model.QueryResult && Model.QueryResult.Value.ColumnDataTypes.Count > 0)
    {
        <div class="row mt-3">
            <h4>Query results</h4>
            <div class="table-responsive" style="height:50vh">
                <table class="table table-bordered">
                    <thead class="table-secondary">
                        <tr>
                            @foreach (var column in Model.QueryResult.Value.ColumnDataTypes)
                            {
                                <th>@column.Key (@column.Value)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dataRow in Model.QueryResult.Value.DataRows)
                        {
                            <tr>
                                @foreach (var colName in Model.QueryResult.Value.ColumnDataTypes.Keys)
                                {
                                    <td>@dataRow[colName]</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>