@model Janus.Mediator.WebApp.ViewModels.SchemaMediationViewModel
@{
    ViewData["Title"] = "Schema Mediation";
}

<h2>Schema Mediation</h2>
<hr />
<div class="row">
    <div class="col-6">
        <h4>Mediation script</h4>
        <form asp-action="ApplyMediationScript">
            <textarea name="mediationScript" class="w-100" rows="15">@Model.SchemaMediationScript</textarea>
            <input type="submit" value="Apply mediation" class="btn btn-primary"/>
        </form>
    </div>
    <div class="col-6">
        <h4>Loaded schemas</h4>
        @foreach (var (remotePoint, schema) in Model.LoadedDataSourceSchemas)
        {
            <div class="accordion" id="remotePointsSchemas">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="@remotePoint.NodeId">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@remotePoint.NodeId" aria-expanded="true" aria-controls="collapseOne">
                            @remotePoint.NodeId (@remotePoint.Address, @remotePoint.Port, @remotePoint.RemotePointType)
                        </button>
                    </h2>
                    <div id="collapse-@remotePoint.NodeId" class="accordion-collapse collapse" aria-labelledby="collapse-@remotePoint.NodeId" data-bs-parent="#remotePointSchemas">
                        <div class="accordion-body">
                            <div class="row">
                                <button class="btn btn-danger w-auto" data-node-id="@remotePoint.NodeId" onclick="unloadSchema(this)">Unload schema</button>
                            </div>
                            <hr>
                            <div class="row">
                                <pre id="schema-@remotePoint.NodeId"></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<h4>Available remote points</h4>
@foreach (var remotePoint in Model.AvailableRemotePoints)
{
    <div class="accordion" id="remotePointsSchemas">
        <div class="accordion-item">
            <h2 class="accordion-header" id="@remotePoint.NodeId">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@remotePoint.NodeId" aria-expanded="true" aria-controls="collapseOne">
                    @remotePoint.NodeId (@remotePoint.Address, @remotePoint.Port, @remotePoint.RemotePointType)
                </button>
            </h2>
            <div id="collapse-@remotePoint.NodeId" class="accordion-collapse collapse" aria-labelledby="collapse-@remotePoint.NodeId" data-bs-parent="#remotePointSchemas">
                <div class="accordion-body">
                    <div class="row">
                        <button class="btn btn-primary w-auto" data-node-id="@remotePoint.NodeId" onclick="getSchema(this)">Get schema</button>
                        <button class="btn btn-warning w-auto ms-2" data-node-id="@remotePoint.NodeId" onclick="loadSchema(this)">Load schema</button>
                    </div>
                    <hr>
                    <div class="row">
                        <pre id="schema-@remotePoint.NodeId"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/getSchema.js"></script>
}