@model Janus.Mediator.WebApp.ViewModels.SchemaMediationViewModel
@{
    ViewData["Title"] = "Schema Mediation";
}

<h2>Schema Mediation</h2>
<hr />
<partial name="_OperationOutcomePartial" model="Model.OperationOutcome" />

<div class="row">
    <div class="col-8">
        <h4>Mediation script</h4>
        <form asp-action="ApplyMediationScript" method="post">
            <textarea name="schemaMediationScript" class="w-100" rows="15">@Model.SchemaMediationScript</textarea>
            <input type="submit" value="Apply mediation" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-4">
        <h4>Loaded schemas</h4>
        <div class="row">
            <span id="load-schema-notif" hidden class="alert alert-warning"></span>
        </div>

        @foreach (var (remotePoint, schema) in Model.LoadedDataSourceSchemas)
        {
            <div class="accordion" id="remotePointsSchemas">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="@remotePoint.NodeId">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@remotePoint.NodeId" aria-expanded="true" aria-controls="collapseOne">
                            @remotePoint.NodeId (@remotePoint.Address, @remotePoint.Port, @remotePoint.RemotePointType)
                        </button>
                    </h2>
                    <div id="collapse-@remotePoint.NodeId" class="accordion-collapse collapse" aria-labelledby="collapse-@remotePoint.NodeId" data-bs-parent="#remotePointSchemas">
                        <div class="accordion-body">
                            <div class="row">
                                <button class="btn btn-danger w-auto" data-node-id="@remotePoint.NodeId" onclick="unloadSchema(this.dataset.nodeId);">Unload schema</button>
                            </div>
                            <hr>
                            <div class="row">
                                <pre id="schema-@remotePoint.NodeId" class="schema overflow-scroll form-control" style="height:20vh; resize:vertical;">@schema.DataSourceJson</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<h4>Available remote points</h4>
@foreach (var remotePoint in Model.AvailableRemotePoints)
{
    <div class="accordion" id="remotePointsSchemas">
        <div class="accordion-item">
            <h2 class="accordion-header" id="@remotePoint.NodeId">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@remotePoint.NodeId" aria-expanded="true" aria-controls="collapseOne">
                    @remotePoint.NodeId (@remotePoint.Address, @remotePoint.Port, @remotePoint.RemotePointType)
                </button>
            </h2>
            <div id="collapse-@remotePoint.NodeId" class="accordion-collapse collapse" aria-labelledby="collapse-@remotePoint.NodeId" data-bs-parent="#remotePointSchemas">
                <div class="accordion-body">
                    <div class="row">
                        <button class="btn btn-primary w-auto" data-node-id="@remotePoint.NodeId" onclick="getSchema(this.dataset.nodeId)">Get schema</button>
                        <button class="btn btn-warning w-auto ms-2" data-node-id="@remotePoint.NodeId" onclick="loadSchema(this.dataset.nodeId)">Load schema</button>
                        <form>

                        </form>
                    </div>
                    <hr>
                    <div class="row">
                        <pre id="schema-@remotePoint.NodeId" class="overflow-scroll form-control" style="resize:vertical; height:20vh"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/getSchema.js"></script>
    <script src="~/js/loadSchema.js"></script>
    <script src="~/js/unloadSchema.js"></script>
}