@model VisibleSchemasViewModel

@{
    ViewData["Title"] = "Visible Schemas";
}

<h3>Schemas on remote points</h3>

@if (Model.RegisteredRemotePoints.Count == 0)
{
    <div class="row">
        <span class="alert alert-warning">No registered remote points</span>
    </div>
}

@foreach (var remotePoint in Model.RegisteredRemotePoints)
{
    <div class="accordion" id="remotePointsSchemas">
        <div class="accordion-item">
            <h2 class="accordion-header" id="@remotePoint.NodeId">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@remotePoint.NodeId" aria-expanded="true" aria-controls="collapseOne">
                    @remotePoint.NodeId (@remotePoint.Address, @remotePoint.Port, @remotePoint.RemotePointType)
                </button>
            </h2>
            <div id="collapse-@remotePoint.NodeId" class="accordion-collapse collapse" aria-labelledby="collapse-@remotePoint.NodeId" data-bs-parent="#remotePointSchemas">
                <div class="accordion-body">
                    <div class="row">
                        <button class="btn btn-primary w-auto" data-node-id="@remotePoint.NodeId" onclick="getSchema(this)">Get schema</button>
                    </div>
                    <hr>
                    <div class="row">
                        <pre id="schema-@remotePoint.NodeId"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    <script src="~/js/getSchema.js"></script>
}